#wrapper {
	width: 100%;
}

.ct-grids {
	display: none;
}

.ct-chart {
	font-family: 'Roboto', sans-serif;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
	stroke: grey;
}

.ct-slice-pie {
	
	fill-opacity: 0;
	fill: yellow;
	stroke: grey;
}

.circle {

}




